go 1.18

use (
	./cmd/kfs-cli
	./cmd/kfs-electron
	./cmd/kfs-server
	./cmd/kfs-test
	./core
	./pb
	./rpc/rpcutil
	./rpc/client
	./rpc/server
	./db/cgosqlite
	./db/gosqlite
	./db/mysql
	./db/dbBase
	./dao
	./storage/local
)
