.logo {
  padding-left: 12px;
  padding-bottom: 32px;
  .icon {
    height: 2em;
    width: 2em;
  }
  .name {
    padding-left: 12px;
    font-size: 2em;
    // font-family: 'Courier New', Courier, monospace;
    font-family: KaiTi, STKaiti;
  }
}
