.pan {
  height: 100%;
  width: 100%;
  overflow: scroll;
  > div {
    height: 100%;
    width: 100%;
  }
  ul {
    margin: 1em 0 1em 0;
    display: flex;
    flex-wrap: wrap;
    li {
      width: 104px;
      height: 104px;
      border: 1px solid var(--background_primary);
      &:hover {
        border: 1px solid var(--divider_primary);
        cursor: pointer;
      }
      text-align: center;
      .icon {
        width: 64px;
        height: 64px;
      }
      .add {
        font-size: 62px;
        border: 1px solid var(--divider_primary);
      }
      .text {
        margin: 0 0.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
  }
}
