.fileHeaderViewer {
  margin: 16px 16px 0;
  border: 1px solid var(--mui-palette-fileViewHeader);
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 12px;
  background-color: var(--mui-palette-fileViewHeader);
}

.fileViewer {
  margin: 0 16px 16px;
  border: 1px solid var(--mui-palette-fileViewHeader);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
