.fileHeaderViewer {
  margin: 16px;
  margin-bottom: 0;
  border: 1px solid;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 12px;
}

.fileViewer {
  margin: 16px;
  margin-top: 0;
  border: 1px solid;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 32px;
}
